#table_id {
    margin: 0 auto;
}

.date {
    min-width: 150px;
}

.title {
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 70px;
}

@media screen and (max-width: 700px) {
  .url,
  thead > tr > th:nth-child(1){
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .dataTables_wrapper {
    text-align: left;
  }

  .date {
    display: none;
  }

   #table_id {
    width: 80% !important;
  }

  .time {
    visibility: hidden;
    position: absolute;
  }

  .time:before {
    visibility: visible;
    content: 'Sort by Data';
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    left: -130px;
  }
}