td {
  box-sizing: content-box;
  height: 70px;
}

.table {
  margin: 0 auto;
}

.time {
  width: 150px;
}

.title,
  .url {
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.url {
    max-width: 400px;
}

.mobile-content__btn {
  display: none;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 800px) {

  .desktop-content {
    display: none;
  }

  .mobile-content__btn {
    display: unset;
  }

}